/* SECTION 5 */
#sec-5 {
  background: url(../Images/bg3.jpg) no-repeat center center/cover;
  text-align: center;
  padding-top: 2rem;
  font-size: 0.9rem;
}
#sec-5 h1 {
  text-transform: uppercase;
  font-size: 1.7rem;
  margin-bottom: 1.6rem;
  color: var(--txtaccent4);
  font-weight: 800;
}
#sec-5 h1 + p {
  color: var(--txtaccent4);
  padding: 0px 2rem;
  margin-bottom: 4rem;
}
#sec-5 .cont {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 5vh;
}
#sec-5 article {
  width: 70%;
}
#sec-5 .quotetxt {
  display: flex;
  align-items: stretch;
  padding: 1.8em 1.7em 2em 1em;
  background-color: var(--txtaccent5);
  text-align: justify;
  word-break: break-all;
  position: relative;
}
#sec-5 .quotetxt p:first-child {
  padding-right: 0.7em;
}
#sec-5 .quotetxt p:first-child img {
  min-width: 100%;
}
#sec-5 .quotetxt p:last-child {
  padding-top: 3px;
}
#sec-5 .arrow:after {
  content: "";
  position: absolute;
  border: 15px solid transparent;
  border-top-color: var(--txtaccent5);
  left: calc(50% - 15px);
  top: 100%;
}
#sec-5 figure {
  margin-top: 1.85rem;
}
#sec-5 .customer {
  display: block;
  margin: 0px auto;
  border-radius: 50%;
}
#sec-5 figcaption {
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 1px 1px #73757e;
}
#sec-5 article:nth-of-type(2) div.quotetxt {
  color: var(--txtaccent);
  background-color: var(--haccent);
}
#sec-5 article:nth-of-type(2) .arrow:after {
  border-top-color: var(--haccent);
}
#sec-5 .contactUs {
  padding-top: 1.5rem;
  background-color: var(--haccent_withOpacity);
  border-bottom: solid 2rem var(--textaccent3);
}
#sec-5 .contactUs h1 {
  color: var(--textaccent3);
  text-transform: uppercase;
  font-size: 1.52rem;
  font-weight: 800;
  margin: 0px;
}
#sec-5 .contactUs h2 {
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0px;
}
#sec-5 .contactUs form {
  padding: 10px 0px 1.7rem;
  position: relative;
}
#sec-5 .contactUs form input {
  padding: 6px 15px;
  margin: 0px 5px 10px 0px;
  border-radius: 6px;
  border-style: none;
  color: var(--textaccent3);
}
#sec-5 .contactUs form input[type="submit"] {
  padding: 6px 20px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--textaccent3);
  color: var(--txtaccent5);
}
#sec-5 .contactUs form input:focus {
  box-shadow: inset 0px 0px 10px var(--txtaccent1);
}
#sec-5 .contactUs form input[type="submit"]:hover {
  box-shadow: inset 0px 0px 10px var(--txtaccent1);
}
#sec-5 .contactUs form input + p {
  width: 100%;
  margin: 0px auto;
  color: #ff0000;
  font-style: italic;
  font-size: 0.8rem;
  line-height: 1.1em;
  padding: 0px 6px;
  position: absolute;
  bottom: 2px;
}
.invalid {
  box-shadow: inset 0px 0px 10px #e67a7a;
}
