* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-style: none;
}

html {
  font-size: 12px;
  color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --txtaccent: #fff;
  --txtaccent1: #9d9d9f;
  --textaccent2: #73757e;
  --textaccent3: #484848;
  --txtaccent4: #000;
  --txtaccent5: #e5e5e5;
  --haccent: #3801d1;
  --haccent_withOpacity: rgba(233, 225, 196, 0.6);
  --haccent2: #7e8892;
  --bgaccent: #1a1c27;
  --bgaccent_withOpacity: rgba(26, 28, 39, 0.96);
}
.container {
  width: 95%;
  margin: 0px auto;
  padding: 0px;
}
